.font-heading h1,h3{
    font-family: 'Playfair Display', serif;
}
.font-para{
    font-family: 'Montserrat', sans-serif
}
.image img{
    width: 100%;
    height: 50vh;
}

.services img{
    width: 100%;
    height: 100%; 
}
.changebgcolour{
    background-color: rgb(157, 157, 255);
}

footer p{
margin-bottom:0rem;
}

